.main-content {
  background-color: pink;
  font-family: "Lucida Console", "Courier New", monospace;
  height: 100%;
}
main{
  min-height: 800px;
}

.footer-img {
  width: 35px;
  height: 35px;
  padding: 5px;
}

.profile-pic {
  width: 230px;
  height: 300px;
  padding: 10px;
}